In [29]:
def rename_column(df, oldname, newname):
    names = list(df.columns)
    names[names.index(oldname)] = newname
    df.columns = names


import pandas as pd
import os 
pessoas = pd.read_csv('./pandas/pessoas.csv')
paises = pd.read_csv('./pandas/paises.csv')
print('--------- Pessoas ----------')
print (pessoas)
print('')
print('--------- Paises ----------')
print (paises)

rename_column(paises, 'nome', 'nome_pais')
print('')
print('--------- Paises (coluna renomeada) ----------')
print(paises)

--------- Pessoas ----------
       Nome  Idade  pais_id
0      Todd     32       10
1     Ryder     76        5
2    Duncan     77        5
3    Joseph     90        4
4      Berk     71        4
5   Vaughan     62        1
6     Logan     79        2
7      Eric     90        3
8     Jamal     65        3
9     Ralph     30        2
10     Gary     25        3
11   Quamar     60        4
12     Noah     34        2
13    Peter     74        3
14    Rajah     46        5
15  Brandon     75        5
16   Sawyer     32        2
17    Steel     41        1
18   Palmer     81        5
19     Joel      7        1
20  Brenden     87        3
21    Ethan     86        2
22   Jordan     15        4
23  Preston     75        5
24    Nigel     31        2
25     Paki     25        2
26     Lyle     64        1
27    Macon     37        5
28   Carter     75        5

--------- Paises ----------
   pid      nome
0    1    Brasil
1    2     Japão
2    3  Bulgária
3    4  Alemanha
4    5   Senegal

--------- Paises (coluna renomeada) ----------
   pid nome_pais
0    1    Brasil
1    2     Japão
2    3  Bulgária
3    4  Alemanha
4    5   Senegal

In [30]:
pessoas = pessoas.set_index(['pais_id'])
paises = paises.set_index(['pid'])
print('--------- Pessoas (indexado por pais_id) ----------')
print (pessoas)
print('--------- Paises (indexado por pid)----------')
print (paises)

--------- Pessoas (indexado por pais_id) ----------
            Nome  Idade
pais_id
10          Todd     32
5          Ryder     76
5         Duncan     77
4         Joseph     90
4           Berk     71
1        Vaughan     62
2          Logan     79
3           Eric     90
3          Jamal     65
2          Ralph     30
3           Gary     25
4         Quamar     60
2           Noah     34
3          Peter     74
5          Rajah     46
5        Brandon     75
2         Sawyer     32
1          Steel     41
5         Palmer     81
1           Joel      7
3        Brenden     87
2          Ethan     86
4         Jordan     15
5        Preston     75
2          Nigel     31
2           Paki     25
1           Lyle     64
5          Macon     37
5         Carter     75
--------- Paises (indexado por pid)----------
    nome_pais
pid
1      Brasil
2       Japão
3    Bulgária
4    Alemanha
5     Senegal

In [31]:
print('--------- Pessoas (com nomes de paises) ----------')
res = pd.concat([pessoas, paises], axis=1, join_axes=[pessoas.index])
print(res)

--------- Pessoas (com nomes de paises) ----------
            Nome  Idade nome_pais
pais_id
10          Todd     32       NaN
5          Ryder     76   Senegal
5         Duncan     77   Senegal
4         Joseph     90  Alemanha
4           Berk     71  Alemanha
1        Vaughan     62    Brasil
2          Logan     79     Japão
3           Eric     90  Bulgária
3          Jamal     65  Bulgária
2          Ralph     30     Japão
3           Gary     25  Bulgária
4         Quamar     60  Alemanha
2           Noah     34     Japão
3          Peter     74  Bulgária
5          Rajah     46   Senegal
5        Brandon     75   Senegal
2         Sawyer     32     Japão
1          Steel     41    Brasil
5         Palmer     81   Senegal
1           Joel      7    Brasil
3        Brenden     87  Bulgária
2          Ethan     86     Japão
4         Jordan     15  Alemanha
5        Preston     75   Senegal
2          Nigel     31     Japão
2           Paki     25     Japão
1           Lyle     64    Brasil
5          Macon     37   Senegal
5         Carter     75   Senegal